# Python
__pycache__/
*.py[cod]
*$py.class
.venv
.env

# Data & Notebooks
data/
.ipynb_checkpoints/
Task_4_done.ipynb
Task_5_done.ipynb
Task_6_done.ipynb
zadanie_domowe.ipynb
Task_7_done.ipynb
Task_8_done.ipynb
# IDE
.vscode/